*{
    margin: 0;
    padding: 0;
}

html body{
    height: 100%;
}

body{
    font-family: 'Raleway', sans-serif;
    color: black;
    background: rgb(137,54,204);
    background: linear-gradient(111deg, rgba(137,54,204,1) 22%, rgba(19,87,124,1) 74%);
    background-repeat: repeat-x;
}

.perfil{
    width: 150px;
    border-radius: 50%;
    border: 5px double white;
    box-shadow: 0 0 110px rgb(36, 194, 139);
}
.profile{
    text-align: center;
}
h1{
    margin-bottom: 5px;
    color: white; 
}

h2{
color: white;
}
.links-redes{
    list-style: none;
}
.links-redes li{
    margin: 20px 20px;
}
.links-redes li a{
    display: block;
    background: white;
    padding: 15px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 35px;
    list-style-position: inside;
}

.avatar{
    width: 20px;
    border: 2px solid red;
    border-radius: 50%;
    
}
